[Unit]
Description=Prometheus exporter for ePIN pollen data
After=network.target
Before=prometheus.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/noseknows
StandardOutput=inherit
StandardError=inherit
RestartSec=10
User=noseknows

[Install]
WantedBy=multi-user.target
