[Unit]
Description=Prometheus exporter for ePIN pollen data
After=network.target
Before=prometheus.service

[Service]
Restart=always
ExecStart=/usr/bin/noseknows
TimeoutStopSec=20s

DynamicUser=true
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
UMask=077

[Install]
WantedBy=multi-user.target
